* {
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
head {
    display: none;
}
body {
    background: rgb(34, 34, 34);
}
.card {
    width: 90%;
    max-width: 470px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 100px auto 0px;
    background: linear-gradient(135deg, rgb(0, 254, 186), rgb(91, 84, 138));
    border-radius: 20px;
    padding: 40px 35px;
}
.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input {
    width: 80%;
    height: 50px;
    background: rgb(152, 210, 179);
    border: black 1px solid;
    outline: none;
    border-radius: 10px;
    padding: 0px 15px;
    color: rgb(34, 34, 34);
    font-size: 15px;
    font-weight: 300;
}
.search button {
    background: rgb(48, 219, 22);
    border: black 1px solid;
    outline: none;
    cursor: pointer;
    color: rgb(64, 15, 15);
    font-size: 16px;
    border-radius: 10px;
    padding: 5px 6px;
    font-weight: 300;
}
.search button:hover {
    background: rgb(0, 254, 186);
}

